<header>
    <div class="container">
        <a class="logo" routerLink="">LOGO</a>

        <ul class="list">
            <li><a class="nav-text"  routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a class="nav-text"  routerLink="/rewards" routerLinkActive="active">Rewards</a></li>
            <li><a class="nav-text"  routerLink="" routerLinkActive="active">Connections</a></li>
            <li><a class="nav-text"  routerLink="" routerLinkActive="active">About</a></li>
        </ul>
        <button class="blue-btn">Sign Up</button>
    </div>
</header>