header {

    width: 100%;
    max-width: 100%;
    background: rgba(26,26,26,.75);


    .container {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--header-text-color);
        padding: 7px 10px;

        .logo {
            color: var(--header-text-color);
        }

        .list {
            display: flex;
            align-items: center;
            margin: 0;

            .nav-text {
                color: var(--header-text-color);
                font-weight: 500;
                font-size: 16px;
                padding: 0px 12px;
                transition: color .1s linear 0s;
                position: relative;
                cursor: pointer;           
                font-family: var(--main-font);
            }
            
            .active {
                color: var(--green-btn-color);
            }

        }
    }




@media only screen and (max-width: 900px) {
    .list {
        display: none !important;
    }
}





















}