@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');



* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

body {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
}

a {
    text-decoration: none !important; 
}

li {
    list-style: none !important;
}

:root {
    --main-color: #1d1d1d;
    --stat-color: #151515;
    --third-color: #0d0d0d;
    --header-text-color: #fff;
    --main-text-color: #ffffff;
    --dark-color: #111;
    --green-btn-color: #0acf83;
    --blue-btn-color: #474dff;
    --main-font: "Inter",sans-serif;
}

.blue-btn {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background: var(--blue-btn-color);
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: all 0.3s;
    font-weight: 500;
    font-family: Inter;

}



.blue-btn:hover {
    background-color: #5e62da;
}




